#banner
	.banner_content
		%h1 File Cabinet
		%p Your Life's Work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Coloring book retro af nisi cray meggings ut drinking vinegar jean shorts 8-bit schlitz chartreuse lorem. Est asymmetrical synth, whatever pinterest pickled chambray pop-up. 8-bit kombucha cillum 90's humblebrag, intelligentsia hammock laboris mumblecore yr. Cardigan distillery mlkshk jean shorts yuccie proident. Gentrify forage poke stumptown, lumbersexual cliche narwhal. Typewriter laborum excepteur, before they sold out bushwick af next level cupidatat elit commodo kickstarter man braid et eu dreamcatcher. 8-bit tempor banjo mollit meditation. Adaptogen id mlkshk, craft beer swag duis man bun bushwick lumbersexual quinoa meggings chia williamsburg. Roof party elit nulla pop-up, raclette dreamcatcher kogi swag. Veniam anim butcher occupy.

#button_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now!", new_user_registration_path 
